.chess-icon{
	max-height: 4rem;
	margin-top: -8px;
}
.nav-title{
	margin-top: 8px;
}
.intro-body{
	background-color: rgba(0, 0, 0, 0.66);
}
.regis-btn{
  margin-top: 9px;
	background-color: rgba(8, 8, 8, 0);
	border-color: #1d9b6c;
}
.regis-btn:visited, .regis-btn:focus, .regis-btn:active{
  margin-top: 9px;
	background-color: rgba(8, 8, 8, 0);
	border-color: #1d9b6c;
}
.regis-btn:hover{
  margin-top: 9px;
	background-color: rgba(8, 8, 8, 0);
	border-color: #1d9b6c;
	color: #1d9b6c;
}
.custom-modal{
	background-color: rgba(0, 0, 0, 0.82);
}
.modal-header{
	border-color: rgba(0,0,0,0);
}
.modal-footer{
	border-top: rgba(0,0,0,0);
}
.close {
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #1d9b6c;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
}
