.chess-icon{
	max-height: 4rem;
	margin-top: -8px;
}
.nav-title{
	margin-top: 8px;
}
.intro-body{
	background-color: rgba(0, 0, 0, 0.66);
}
.regis-btn{
  margin-top: 9px;
	background-color: #080808;
	border-color: #1d9b6c;
}
.regis-btn:hover, .regis-btn:visited, .regis-btn:focus{
  margin-top: 9px;
	background-color: #080808;
}
.custom-modal{
	background-color: rgba(0, 0, 0, 0.82);
}
.modal-header{
	border-color: rgba(0,0,0,0);
}
.modal-footer{
	border-top: rgba(0,0,0,0);
}
